
// COLORS

$white: #ffffff;
$dark-grey: #272727;
$grey: #909090;
$light-grey: #f2f1f1;
$red: #ba3538;
$medium-grey: #707070;
$faded-red: #c57071;
$ice: #f8f7f7;
$wine: #330d0e;

// FONTS

$mont: 'Montserrat', sans-serif;
